html {
  width: auto;
}
body {
  background-color: $white;
  max-width: 1440px;
  @media (min-width: 1120px) {
    display: flex;
  }
}
.body-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  @media (min-width: 1120px) {
    display: flex;

    width: 100%;
  }
}
%redbuttom {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $red;
  border: none;
  border-radius: 50%;
}
%TTLakesmin {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.swiper-pagination {
  position: relative !important;
  padding-top: 16px !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.main {
  background-color: $greybody;
}
.swiper {
  @media (min-width: 768px) {
    display: none !important;
  }
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.no-opacity {
  @media (min-width: 1120px) {
    opacity: 1 !important;
  }
}
